body {
  font-size: 18px;
  line-height: 26px;
  background-color: #eee;
  background-image: url('/img/back.png');
  font-family: 'Roboto', sans-serif;
  color: #444;
}

h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

ul, ol {
  margin-top: 10px;
}

#post-navigation {
  text-align: right;
}

.content {
  background-color: white;
  padding: 20px;
  min-height: 1400px !important;
  max-width: 1000px;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.25);
}

article {
  padding-bottom: 30px;
}

article h1 {
  color: #f16666;
  line-height: 26px;
  font-size: 40px;
  margin-bottom: 2px;
  margin-top: 0;
  font-weight: bold;
}

article h1 a {
  color: #f16666;
}

article h1 a:hover {
  color: #C54242;
}

article time {
  font-size: 70%;
}

section.about {
  margin-top: 20px;
  padding: 20px;
  min-width: 220px;
  background-color: rgba(255, 255, 255, .5);
  text-shadow: 1px 1px 2px white;
  box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.05);
  border: 1px solid white;

}
  section.about img.photo {
    float: left;
    width: 62px;
    margin-bottom: 8px;
  }

  section.about div.details {
    margin-left: 60px;
    margin-top: 6px;
  }

  section.about a.head {
    white-space: nowrap;
    text-decoration: none;
  }

  section.about span.name {
    color: rgb(29, 182, 72);
    font-weight: bold;
    font-size: 26px;
    margin-left: 10px;
  }

  section.about p.twitter {
    font-size: 12px;
    margin-left: 16px;
    margin-top: -6px;
  }

  section.about p.summary {
    clear: both;
    font-size: 14px;
    line-height: 20px;

  }
