body {
  font-size: 18px;
  line-height: 26px;
  background-color: #eee;
  background-image: url('/img/background.png');
  background-attachment:fixed;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

ul, ol {
  margin-top: 10px;
}

.content {
  background-color: white;
  padding: 20px;
  border-right: 1px solid #e0ebfa;
  min-height: 1400px;
  max-width: 1000px;
}

article { max-width: 920px; }

article h2 {
  color: #f16666;
  line-height: 26px;
  margin-bottom: 2px;
  margin-top: 0;
  font-weight: bold;
}

article time {
  font-size: 70%;
}

section.about {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, .5);
  text-shadow: 1px 1px 2px white;
}
  section.about img.photo {
    float: left;
    width: 62px;
    margin-bottom: 8px;
  }

  section.about div.details {
    margin-left: 60px;
    margin-top: 6px;
  }

  section.about a.head {
    white-space: nowrap;
    text-decoration: none;
  }

  section.about span.name {
    color: rgb(29, 182, 72);
    font-weight: bold;
    font-size: 26px;
    margin-left: 10px;
  }

  section.about p.twitter {
    font-size: 12px;
    margin-left: 16px;
    margin-top: -6px;
  }



  section.about p.summary {
    clear: both;
    font-size: 14px;
    line-height: 20px;

  }

