<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Gavin Joyce</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
</head>
<body>
  <div class='container-fluid'>
    <div class='row-fluid'>
      <div class='span9 content'>
        {{ content }}
      </div>

      <div class="span3">
        <section class="about">

        </section>
      </div>
    </div>
  </div>
</body>
</html>