<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Gavin Joyce</title>
  <meta name="robots" content="noindex, nofollow"/>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
</head>
<body>
  <div class='container-fluid'>
    <div class='row-fluid'>
      <div class='span9 content'>
        {{ content }}
      </div>

      <div class="span3">
        <section class="about">
          <a href="/" class="head">
            <img class="photo" src="/img/mug.png">
            <div class="details">
              <span class="name">Gavin Joyce</span>
              <p class="twitter">
                <a href="http://www.twitter.com/">@gavinjoyce</a></p>
            </div>
          </a>

          <p class="summary">
            Ruby &amp; Ember.js consultant at <a href="http://incremental.ie">incremental.ie</a>. Hacking away at <a href="https://github.com/restpack">RestPack</a>.
          </p>

          <p class="summary needhelp">
            <span style="color: green;">Need help building something cool?</span> Contact me:
          </p>

          <p class="summary">
            twitter: <a href="https://twitter.com/gavinjoyce">@gavinjoyce</a><br />
            github: <a href="https://github.com/gavinjoyce">gavinjoyce</a><br />
            email: <a href="mailto:gavinjoyce@gmail.com">gavinjoyce@gmail.com</a>
          </p>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
